<header>
  <!-- prettier-ignore -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <span class="border-bottom border-left border-white">
    <a class="navbar-brand  ml-3" href="/urls">TinyApp</a>
  </span>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a> 
      </div>
    </div>

    <% if(!user_id) { %>
      <form action="/register" class="form-inline" method="GET">
        <button type="submit" class="btn btn-outline-warning mr-5">Register</button>
      </form>
    <form action="/login" class="form-inline" method="GET">
      <button type="submit" class="btn btn-outline-primary mr-3">Log In</button>
    </form>
    <% } else if (user_id) { %>
    <form action="/logout" class="form-inline" method="GET">
      <!-- Shows undefined. Need to comeback to it later and try to fix it -->
      <!-- <div class="col-auto">
        <span>Logged as:</span>
        <label for="logout" class="border border-light rounded d-inline p-2 bg-success text-white"><%= user_id %></label>
      </div> -->
      <div class="col-auto">
        <button type="submit" class="btn btn-dark">Logout</button>
      </div>
    </form>
    <% } %>
  </nav>
</header>
