<%- include("partials/_head"); %>
    <title>Registration</title>
  </head>
  <body>
    <%- include("partials/_header"); %>
      <!-- Register form -->
    <div class="card text-center">
      <div class="card-header">
        <p class="text-left text-large">Create your profile</p>
        <form action="/register" method="POST" class="form-inline">
          <div class="form-row">
            <label for="email" style="width: 75px; margin: 0.5em">Email:</label>
            <input
              type="email"
              name="email"
              placeholder="yourEmail@example.com"
              style="width: 200px; margin: 0.5em"
            />
          </div>
          <div class="form-row">
            <label for="password" style="width: 100px; margin: 0.5em"
              >Password:</label
            >
            <input
              type="password"
              name="password"
              style="width: 200px; margin: 0.5em"
            />
          </div>

          <button
            type="submit"
            class="btn btn-outline-success"
            style="width: 100px; margin: 0.5em"
          >
            Register
          </button>
        </form>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <%- include("partials/_bootstrap_script"); %>
  </body>
</html>
